@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false ) {
	@font-face {
		font-family: $font-family;
		font-weight: $weight;
		font-style: $style;

		@if $asset-pipeline == true {
			src: font-url('#{$file-path}.eot');
			src: font-url('#{$file-path}.eot?#iefix') format('embedded-opentype'), font-url('#{$file-path}.woff') format('woff'), font-url('#{$file-path}.ttf') format('truetype');
		} @else {
			src: url('#{$file-path}.eot');
			src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'), url('#{$file-path}.woff') format('woff'), url('#{$file-path}.ttf') format('truetype');
		}
	}
}

@mixin absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

@mixin cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

@function vmax($pixels, $context: $full-width) {
  @return #{($pixels/$context)* 100}vmax
};
@function vw($pixels, $context: $full-width) {
  @return #{($pixels/$context)* 100}vw
};
@function vh($pixels, $context: $screen-height) {
  @return #{($pixels/$context)* 100}vh
};

@function rem($px) {
  @return $px / 16px + 0rem;
};
