@import "vars";
@import "mixin";
@import "fonts";

html, body {
	height: 100%;
}

body {
	font-size: 14px;
	min-width: 320px;
	position: relative;
	font-family: $default-font;
	overflow-x: hidden;
	color: #302a31;
}

h1, h2, h3{
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

h1, h2 {
	font-weight: bold;
}

h1 {
	font-size: 56px;
}

h2 {
	@include absolute-center;
	font-size: 36px;
	text-align: center;
	&:after {
		content: '';
		width: 420px;
		height: 2px;
		background: $accent;
		display: block;
		margin: 0 auto;
		margin-top: 26px;
	}
}

p {
	margin: 0;
	padding: 0;
}

.btn {	
	display: inline-block;
	border: solid 1px #fff;
	border: 1px solid #000;
	width: 170px;
	color: #000;
	text-decoration: none;
	background-color: red;
	padding: 5px 0;
	font-size: 12px;
	border-radius: 5px;
	text-align: center;
	outline: none;
	margin-left: auto;
	margin-right: auto;
	&:hover {
		color: #fff;
	}
}			

b, strong {
	font-weight: bold;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active 

{
	overflow: visible;
  outline: none;
}

a, a:hover, a:active {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

.container-fluid_plain {
  padding: 0;
}

/*------HEADER-------*/

@import "media";
